{% extends "base.html" %}

{% block title %}Games Catalog{% endblock %}

{% block content %} 
<body>
    <div class="game">
        <h3>All Games</h3>
        {% for game in games %}
            <p><strong>Game Name:</strong> {{ game.gameName }}</p>
            <p><strong>Release Date:</strong> {{ game.gameReleaseDate }}</p>
            <p><strong>Age Rating:</strong> {{ game.gameAgeRating }}</p>
            <p><strong>Developer:</strong> {{ game.gameDeveloper }}</p>
            <p><strong>Platforms:</strong> {{ game.gamePlatforms }}</p>
            <p><strong>Description:</strong> {{ game.gameDescription }}</p>
            <p><strong>User Rating:</strong> {{ game.gameUserRating }}</p>
            <p><strong>Actors:</strong> {{ game.gameActors }}</p>
            <hr>
        {% endfor %}
    </div>
</body>
{% endblock %}
