{% extends "base.html" %}

{% block title %}Games Catalog{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        {% for game in games %}
            <div class="col-md-4  mb-4">
                <div class="game-card" style="width: 100%; min-height: 250px;">
                    <a href="/games/?id={{game.gameID}}"> <img src="{{ game.gamePoster }}" class="card-img-top" alt="{{ game.gameName }} poster" style="height: 250px; object-fit: cover;"></a>
                    <div class="card-title">
                        <h5 class="card-title">{{ game.gameName }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

