{% extends "base.html" %}
{% block title %} game.gameName {% endblock %}
{% block content %} 
<body>
        <div class="game">
            <h2>{{ game.gameName }}</h2>
            <img src="{{game.gamePoster}}">
            <p><strong>Release Date:</strong> {{ game.gameReleaseDate }}</p>
            <p><strong>Age Rating:</strong> {{ game.gameAgeRating }}</p>
            <p><strong>Developer:</strong> {{ game.gameDeveloper }}</p>
            <p><strong>Platforms:</strong> {{ game.gamePlatforms}}</p>
            <p><strong>Description:</strong> {{ game.gameDescription }}</p>
            <p><strong>User Rating:</strong> {{ game.gameUserRating }}</p>
            <p><strong>Actors:</strong> {{ game.gameActors }}</p>
            <hr>
        </div>
</body>
</html>
{% endblock %}