body{
background-color: #121212;
}

p{
    color: #d3d3d3
}
h1{
    text-align: center;
    color: #d3d3d3;  
}
h2, h3{
    text-align: center;
    color: #00bcd4;
}

h5{
    color: #00bcd4;
    padding-top: 5px;
    text-align: center;
}
.card-title{
    color: #00bcd4;
}

.card-body, .col-md-4{
    background-color: #0e0c0c;
}

.form-text{
    color:#d3d3d3;
}

.form-label{
    color:#00bcd4;
}


.navbar-brand, .nav-link, .dropdown-item {
    color: white !important; 
  }
  
  .nav-link.active {
    color: white !important; 
  }
  
  /* Change colour of items when hover  */
  .navbar .nav-link:hover {
    color: #00bcd4 !important; 
  }
  .dropdown-item:hover{
    color: #00bcd4 !important; 
    background-color: black;
  }
  .dropdown-menu{
    background-color: black;
  }
  .dropdown-divider{
    background-color: #00bcd4;
  }
  


/* Ensure all images fit the same height while keeping aspect ratio */
.poster-img {
    height: 100%;       /* Let the image height fill the carousel */
    object-fit: cover;  /* Ensures images cover the space while maintaining aspect ratio */
    max-height: 1206px; /* This ensures the images won't exceed the max height */
}

.card-body {
    margin: 0px;
    padding: 8px 12px; 
}


.game-card:hover {
    transform: scale(1.15);
}
.single-card {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
} 

.video{
    display: flex;
    justify-content: center;
}

.card-text{
    color: #00bcd4;
}

.carousel-inner:hover{
    transform: scale(1.05);
}

.allGamesButton{
    padding-top: 1rem;
    padding-bottom: 10rem;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: end;
    bottom: 10px;
    background-color: #0e0c0c;
    color:#d3d3d3;
    padding-bottom: 1rem;
    border-top: 1px solid #00bcd4;
  }
  
  .footer .row {
    margin-bottom: 1rem;
  }