h1{
    text-align: center;
}


h3{
    text-align: center;
}

.nav-item{
    color: white;
}

/* Ensure all images fit the same height while keeping aspect ratio */
.poster-img {
    height: 100%;       /* Let the image height fill the carousel */
    object-fit: cover;  /* Ensures images cover the space while maintaining aspect ratio */
    max-height: 1206px; /* This ensures the images won't exceed the max height */
}

.card-body {
    margin: 0px;
    padding: 8px 12px; 
}

h5{
    padding-top: 5px;
    text-align: center;
}
.game-card:hover {
    transform: scale(1.15);
}

.carousel-inner:hover{
    transform: scale(1.05);
}
