{% extends "base.html" %}
{% block title %} About Us {% endblock %}
{% block content %} 
<br>
<h3> About us</h3>
<br>
 <div class="card mb-0 single-card">
      <div class="col-md-12">
        <div class="card-body">
          <br>
          <center>
            <h4>Info</h4>
          <p class="card-text aboutText">
            This is a university coursework, which aims to provide users information about games and allow such users to register, Login and search for games and find information about them like actors, platforms, game ratings and small description about the game. 
        </p>
        <h4>Aims</h4>
          <p class="card-text aboutText">
            Provide a quick way to research your favorite games, or to discover your next gaming adventure!
        </p>
        <h4>Contact</h4>
          <p class="card-text aboutText">
            If there are any issues or any features wanted to be please use github or email me.
        </p>
        </center>
          <br>
        </div>
      </div>
  </div>

{% endblock %}