{% extends "base.html" %}
{% block title %} About Us {% endblock %}
{% block content %} 
<br>
<h3> About us</h3>

 <div class="container-md">
    <br>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac lorem vitae neque feugiat iaculis. Vestibulum gravida ex vitae ligula viverra finibus. Fusce varius nibh sagittis ante pretium placerat. Cras ex risus, dignissim non accumsan eget, consectetur id dui. Mauris libero elit, varius vitae laoreet ut, sollicitudin ac eros. Pellentesque pulvinar, dolor a placerat molestie, ante nisi ultricies eros, a porta mi quam volutpat odio. Nullam hendrerit neque non est varius facilisis. Duis tincidunt condimentum placerat. Nullam varius eros ligula, et varius ex efficitur non. Etiam congue, eros at cursus suscipit, risus augue feugiat quam, ac lobortis mauris lectus vel velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce blandit auctor cursus. Nunc viverra, mi a rhoncus iaculis, odio justo consequat odio, vel lobortis dui ex finibus felis.
    </p>
 </div>       

{% endblock %}