{% extends "base.html" %}
{% block title %} Copyright Disclaimer {% endblock %}
{% block content %} 
 <br>
 <div class="card mb-0 single-card">
      <div class="col-md-12">
        <div class="card-body">
          <br>
          <center>
            <h4><strong>© 2024 Games Catalog. All rights reserved.</strong></h4>
          <p class="card-text aboutText">
            The content, design, and materials provided on this website are intended solely for academic purposes as part of a university project. All trademarks, logos, and game titles mentioned or displayed are the property of their respective owners.
        </p>
        <h4>Contact</h4>
          <p class="card-text aboutText">
            For inquiries or concerns regarding intellectual property, please contact hg.swiftnight@gmail.com
        </p>
        </center>
          <br>
        </div>
      </div>
  </div>

{% endblock %}