{% extends "base.html" %}
{% block title %} Copyright Disclaimer {% endblock %}
{% block content %} 
<br>
<h3> 
    Copyright Disclaimer for Games Catalog Website
</h3>

 <div class="container-md">
    <br>
    <p>
        <strong>© 2024 Games Catalog. All rights reserved.</strong>
    </p>
   <p>
    The content, design, and materials provided on this website are intended solely for academic purposes as part of a university project. All trademarks, logos, and game titles mentioned or displayed are the property of their respective owners.
   </p>
   <p>
    For inquiries or concerns regarding intellectual property, please contact hg.swiftnight@gmail.com
   </p>
 </div>       

{% endblock %}