{% extends "base.html" %}
{% block title %} {{game.gameName}} {% endblock %}
{% block content %} 
<h3>{{game.gameName}}</h3>

        
            <br>
      <div class="single-card">
        <div class="card mb-3" style="max-width: 1000px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{game.gamePoster}}" class="img-fluid rounded-start" alt="Space marine 2 poster">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <div class="video">
                    <iframe src="https://www.youtube.com/embed/{{game.gameTrailer}}?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=0&controls=1&autoplay=1"  width="900" height="315"  frameborder="0" allowfullscreen></iframe>
                  </div>
                  <br>
                  <p class="card-text"><strong>Age Rating: </strong>{{game.gameAgeRating}}</p>
                  <p class="card-text"><strong>Developer: </strong>{{game.gameDeveloper}}</p>
                  <p class="card-text"><strong>Platforms: </strong> {{game.gamePlatforms}}</p>
                  <p class="card-text"><strong>Game Actors: </strong>{{game.gameActors}}</small></p>
                  <p class="card-text">{{game.gameDescription}}</p> 
                  <br>
                </div>
              </div>
            </div>
          </div>
      </div>
{% endblock %}
