{% extends "base.html" %}
{% block title %} {{game.gameName}} {% endblock %}
{% block content %} 
<h2>{{game.gameName}}</h2>

        <center>
            <br>
      <div class="single-card">
        <div class="card mb-3" style="max-width: 1000px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{game.gamePoster}}" class="img-fluid rounded-start" alt="Space marine 2 poster">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text"><strong>Age Rating: </strong>{{game.gameAgeRating}}</p>
                  <p class="card-text"><strong>Developer: </strong>{{game.gameDeveloper}}</p>
                  <p class="card-text"><strong>Platforms: </strong>{{game.gamePlatforms}}</p>
                  <p class="card-text">{{game.gameDescription}}</p>
                  <a href="{{game.gameTrailer}}">test</a>
                  <iframe width="640" height="480" src="{{game.gameTrailer}}" frameborder="0" allowfullscreen></iframe>
                  <p class="card-text"><small class="text-body-secondary"><strong>Game Actors: </strong>{{game.gameActors}}</small></p>
                </div>
              </div>
            </div>
          </div>
      </div>
        </center>
{% endblock %}
