{% extends "base.html" %}
{% block title %} Home page {% endblock %}
{% block content %} 
<div class="searchBar">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info" type="submit">Search</button>
    </form>
  </div>
<h3> Featured Games</h3>
<br>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" style="max-width: 300px; max-height: 600px; margin: 0 auto;">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
           <a href="/games/?id=1"> <img src="/static/ff16.jpg" class="d-block w-100 poster-img" alt="Final Fantasy 16 Poster">
        </a>
        </div>
        <div class="carousel-item">
            <a href="/games/?id=2"> <img src="/static/eldenRing.jpg" class="d-block w-100 poster-img" alt="Elden Ring Poster">
            </a>
        </div>
        <div class="carousel-item">
            <a href="/games/?id=3"> <img src="/static/spaceMarine.jpg" class="d-block w-100 poster-img" alt="Space Marine Poster">
            </a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="allGamesButton">
    <a href="/allGames/" class="btn btn-outline-info">View All Games</a>
  </div>
  

{% endblock %}