{% extends "base.html" %}
{% block title %} Privacy Policy {% endblock %}
{% block content %} 
 <br>
 <div class="card mb-0 single-card">
      <div class="col-md-12">
        <div class="card-body">
          <br>
          <center>
            <h4><strong>Privacy Policy</strong></h4>
          <p class="card-text aboutText">
            Types of data collected on this website is user registration details like Name, Password and email. The purpose of collecting this data is to use it for registration purposes and logging in functionality which gives our users personalised greetings. And account management feature which allows our users to manage their account.
        </p>

        <h4>Contact</h4>
          <p class="card-text aboutText">
            For inquiries or concerns regarding our privacy policy, please contact hg.swiftnight@gmail.com
        </p>
        </center>
          <br>
        </div>
      </div>
  </div>

{% endblock %}