{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}
{% if games %}
<h2>Searched Games</h2>
<br>
<div class="container allGamesCard">
    <div class="row justify-content-center">
        {% for game in games %}
            <div class="col-md-4  mb-4">
                <div class="game-card" style="width: 100%; min-height: 250px;">
                    <a href="/games/?id={{game.gameID}}"> <img src="{{ game.gamePoster }}" class="card-img-top" alt="{{ game.gameName }} poster" style="height: 250px; object-fit: cover;"></a>
                    <div class="card-title">
                        <h5 class="card-title">{{ game.gameName }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
    <div class="alert alert-info mx-auto" role="alert">
        No games found for "{{ request.form.get('search') }}".
    </div>
{% endif %}
<div class="allGamesButton">
    <a href="/" class="btn btn-outline-info">Back to Home</a>
  </div>
{% endblock %}

