{% extends "base.html" %}
{% block title %} Terms of Service {% endblock %}
{% block content %} 
 <br>
 <div class="card mb-0 single-card">
      <div class="col-md-12">
        <div class="card-body">
          <br>
          <center>
            <h4><strong>Terms of Service</strong></h4>
          <p class="card-text aboutText">
            You as a user agree to everything on this page, Allow this website to collect information which was collected on registration.
        </p>

        <h4>Contact</h4>
          <p class="card-text aboutText">
            For inquiries or concerns regarding our privacy policy, please contact hg.swiftnight@gmail.com
        </p>
        </center>
          <br>
        </div>
      </div>
  </div>

{% endblock %}