{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block content %} 

<form method="POST">
  <div class="container-md">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <!-- Added "name" attribute for the email input -->
      <input type="email" class="form-control"  name="email" aria-describedby="emailHelp" required>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <!-- Added "name" attribute for the password input -->
      <input type="password" class="form-control"name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

{% endblock %}
